.li-item{
    margin-left: 100px;
}

.PrimaryNav .navbar-dark .navbar-nav .nav-link {
    font-size: 1.2em;
    color: rgb(255, 255, 255);
}

.PrimaryNav .navbar-dark .navbar-nav .nav-link:hover{
    color: gray;
}
